{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead position-relative">
        <div class="masthead-content container d-flex flex-column h-100">
            <div class="row">
                <div class="col col-md-6 ms-auto me-0">
                    <div class="masthead-subheading">Bienvenue sur SnowTricks</div>
                    <div class="masthead-heading text-uppercase fs-3 lh-base mt-5">
                        Partagez et apprenez<br>avec une large communauté
                    </div>
                </div>
            </div>
            <div class="row mt-auto">
                <div class="col col-md-6 ms-auto me-0">
                    <a class="btn btn-primary btn-xl text-uppercase mt-5" href="#tricks">Parcourir les tricks</a>
                </div>
            </div>
        </div>
        <div class="masthead-hover"></div>
    </header>
    <section id="tricks" class="page-section">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Tricks</h2>
                <h3 class="section-subheading text-muted">Enrichissez SnowTricks en partageant vos propres expériences.</h3>
            </div>
            <div class="row">
                {{ include('trick/_tricks.html.twig') }}
                {{ include('components/_pagination.html.twig', {'pagination': paginationTricks}) }}
            </div>
        </div>
    </section>
{% endblock %}
