:root {
    --background-body: rgb(248 249 250);
    --background-header: #2260c3;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-body);
}

header.masthead {
    height: 100vh;
    padding-top: 41vh;
    flex: none;
}

header.masthead + .page-section {
    padding: 6rem 0;
}

.page-section {
    flex: 1;
    padding: 10rem 0 6rem 0;
}

label {
    margin-bottom: 8px;
}

input, textarea {
    margin-bottom: 16px;
}

.collection fieldset > legend {
    display: none;
}

.collection .row {
    row-gap: 22px;
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
    opacity: inherit;
}

.form-floating > label {
    color: rgb(0 0 0 / 60%);
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--background-header);
}

#mainNav.navbar-transparent {
    background-color: transparent;
}

#mainNav .navbar-toggler {
    background-color: #212529;
}

#mainNav .navbar-collapse {
    background-color: var(--background-header);
    padding: 0 16px;
    margin: 4px -12px 0 -12px;
    text-align: center;
}

#mainNav.navbar-shrink {
    background-color: var(--background-header);
}


#pills-tab.nav-pills .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin-right: 8px;
}

.comment {
    background: #f8fafd;
    border: 1px solid #d2dbe5;
    border-radius: 0.25rem;
    padding: 20px 18px;
    margin-bottom: 8px;
    display: flex;
    column-gap: 14px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(197, 168, 64, 0.42);
}


@media (min-width: 992px) {
    #mainNav .navbar-collapse {
        background-color: transparent;
    }
}

.page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2rem;
}


#login-form {
    max-width: 600px;
    margin: auto;
}


.trick-item {
    display: flex;
    flex-direction: column;
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.trick-item .trick-link {
    position: relative;
    display: block;
    margin: 0;
}

.trick-item .trick-link .img-fluid {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.trick-item .trick-caption {
    height: 100%;
    padding: 1.5rem;
    text-align: center;
    background-color: #fff;
}

.trick-item:hover .trick-caption {
    color: #ffc800;
}

.trick-item .trick-caption .trick-caption-heading {
    font-size: 1.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin-bottom: 0;
}

.trick-item .trick-caption .trick-caption-subheading {
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#trick-header {
    padding-top: 6rem;
}

#trick-header .container {
    text-align: center;
    color: #fff;
    background-image: url(../assets/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-nav {
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-left: auto;
}

.modal-nav .btn {
    font-size: 30px;
    padding: 0 12px;
}

.modal-number {
    top: 1.5rem;
    left: 1.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    color: var(--bs-gray);
}

.modal-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 18px;
}

.modal-title {
    text-align: center;
}

.close-modal {
    position: inherit !important;
    width: 2rem !important;
}

.modal-content {
    padding-top: 0 !important;
}


#btn-go-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--bs-primary);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#btn-go-to-top:hover {
    background-color: #555;
}

@media screen and (max-width: 1400px) {
    .trick-item .trick-link .img-fluid {
        height: 240px;
    }
}

@media screen and (max-width: 1200px) {
    .trick-item .trick-link .img-fluid {
        height: 190px;
    }
}